 *{
    box-sizing: border-box;
 }
 body {
    background-image: url(sound1.jpg);
    background-size: cover;
}
h1{ margin-top: 200px;
    margin-left: 545px;
    text-shadow: 2px 2px 2px white;
    text-align: center;
    color: rgb(33, 202, 194);
    background:linear-gradient(to right,rgb(241, 10, 10),rgb(223, 22, 132));
    border:2px solid white;
    width:300px;
    border-radius:9px ;
    text-align: center;
}
h2 {
   
    text-align: center;
    color: white;   
}
div {
    text-align: center;
    color: white;
    padding:0;
    
}
       
    
.container{
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    background-color: antiquewhite;
    box-shadow:  0 4px 0 white;
}

.container-item1{
    
    font-weight:20px ;
    text-align: right;
     background-color: antiquewhite;
font-size: large;
    
    text-decoration:none;
    color:teal;
    margin-left: 40px;
    border: 2px solid rgb(31, 28, 28);
border-radius:5px ;
max-width: fit-content;
padding:3px 5px;
margin: 10px;
align-items:center
}
.container-item1:hover{
    background-color: tomato;
    color:white;
}

/*.ima{
    height: 10px;
    width:10px;
}*/
.mp3:hover{
    color:white;
    background-color:tomato;
box-shadow: 2px 2px 0 white;
    width:250px;
    height:auto;
}


.mp4:hover{
    color:white;
    background-color:tomato;
box-shadow: 2px 2px 0 white;
    width:200px;
    height:auto;
}
.mp3{
    padding:7px;
margin-bottom:40px ;
border: 2px solid transparent;
border-radius:9px ;
color:tomato;
    text-decoration:none;

}
.mp4{
    border-radius:9px ;
    padding:7px;
    color:tomato;
    text-decoration:none;}